    /* Estilos CSS en el archivo externo styles.css */
    header {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #ff2f00;
        color: blueviolet;
        padding: 10px 0;
        display: flex; /* Utilizamos flexbox para alinear elementos */
        justify-content: center; /* Centramos los elementos horizontalmente */
        align-items: center; /* Centramos los elementos verticalmente */
        z-index: 100;
    }

    header h1 {
        margin: 0; /* Eliminamos el margen predeterminado del h1 */
        flex: 1; /* El título ocupará el espacio disponible restante */
        text-align: center; /* Centramos el texto del título */
    }

    .logo {
        margin-right: 20px;
        text-align: left;
    }
    .logo img {
        max-width: 50px; /* Ajusta el valor según el tamaño deseado */
    }

    .menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Eliminamos el margen predeterminado de la lista */
    text-align: center; /* Centramos los elementos de la lista horizontalmente */
    }

    /* Estilos para los elementos de la lista de menú */
    .menu li {
        display: inline;
        margin-right: 20px;
    }

    /* Estilos para los enlaces del menú */
    .menu a {
        text-decoration: none;
        color: blueviolet;
    }

    /* Estilos CSS en styles.css para la sección hero */
    .hero {
        background-image: url('imagenes/background ByN.jpg'); /* Puedes reemplazar 'imagen_de_fondo.jpg' con la ruta de tu imagen de fondo */
        background-size: cover;
        background-position: center;
        color: blueviolet;
        text-align: center;
        padding: 100px 0;
    }

    .hero h1 {
        font-size: 36px;
    }

    .hero p {
        font-size: 18px;
        margin-top: 20px;
    }

    .cta-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #333;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        border-radius: 5px;
        margin-top: 20px;
        transition: background-color 0.3s ease; /* Agrega una transición suave al color de fondo */
    }

    .cta-button:hover {
        background-color: #555;
    }

    /* Estilos CSS para la sección de dos columnas */
    .two-column-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px;
    }

    .column {
        flex-basis: 48%; /* Ajusta el ancho de las columnas según tus necesidades */
    }

    .image-container img {
        max-width: 100%;
        height: auto;
    }

    .two-column-section h2 {
        font-size: 24px;
    }

    .two-column-section p {
        font-size: 16px;
        margin-top: 20px;
    }

    .two-column-section .cta-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #333;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        border-radius: 5px;
        margin-top: 20px;
        transition: background-color 0.3s ease;
    }

    .two-column-section .cta-button:hover {
        background-color: #555;
    }

    /* Estilos CSS para la galería de servicios con 2 filas de 4 fotos */
    .service-gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 columnas iguales */
        grid-template-rows: repeat(4, 1fr); /* 4 filas iguales */
        grid-gap: 20px; /* Espacio entre elementos */
        padding: 20px;
    }
    
    .service-item {
        text-align: center;
        border: 1px solid #ccc;
        padding: 10px;
        background-color: #f9f9f9;
    }
    
    .service-item img {
        max-width: 100%;
        height: auto;
    }
    
    .service-item h3 {
        margin-top: 10px;
        font-size: 18px;
    }
    
    /* Añade este estilo para limitar el número de filas */
    .service-item:nth-child(n+10) {
        display: none; /* Oculta elementos a partir del quinto */
    }


    /* Estilos CSS para el footer */
    footer {
        background-color: #ff2f00;
        color: #fff;
        padding: 10px 0; /* Espaciado vertical reducido */
        text-align: center;
        display: flex; /* Utilizamos flexbox para alinear elementos */
        justify-content: center; /* Centramos los elementos horizontalmente */
        align-items: center; /* Centramos los elementos verticalmente */
    }

    .footer-column {
        margin: 0 20px;
    }

    .footer-column img {
        max-width: 50px; /* Ajusta el ancho del logo de la empresa según tus necesidades */
    }

    .social-link img {
        max-width: 30px; /* Ajusta el ancho de los logotipos de redes sociales según tus necesidades */
        margin-right: 10px;
    }


